<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Add Question</title></head>
<body>
<h2>Add New Question</h2>
<form th:action="@{/questions/add}" th:object="${questionRequest}" method="post">

    <label>Topic:</label>
    <label>
        <select th:field="*{topic}">
            <option th:each="t : ${topics}" th:value="${t.id}" th:text="${t.topic}"></option>
        </select>
    </label><br/>

    <label>Description:</label>
    <label>
        <textarea th:field="*{description}"></textarea>
    </label><br/>

    <label>Explanation:</label>
    <label>
        <textarea th:field="*{explanation}"></textarea>
    </label><br/>

    <!-- Example for 4 Options, you can dynamically add with JavaScript -->
    <div th:each="i : ${#numbers.sequence(0, 3)}">
        <h4>Option [[${i+1}]]</h4>
        <label>
            <input type="text" th:field="*{options[__${i}__].description}" placeholder="Option Description"/>
        </label><br/>
        <label>
            <input type="text" th:field="*{options[__${i}__].explanation}" placeholder="Option Explanation"/>
        </label><br/>
        <label>Is Correct?</label>
        <label>
            <input type="checkbox" th:field="*{options[__${i}__].correct}"/>
        </label><br/><br/>
    </div>

    <button type="submit">Submit</button>
</form>
</body>
</html>
